<% include ../partials/head.ejs %>
<title> <%= user.firstName %> </title>
</head>
<% include ../partials/header.ejs %>
<div class="row">
<div class="form col s12 center">
<div class='profile-holder'>
<a class="carot" href="<%= `/profiles/${counter-1}` %>"/><</a>

<iframe class='center-align' width="560" height="315" src="<%= user.videoURL %>?rel=0&autoplay=1" frameborder="0" allowfullscreen ></iframe>
<a class="carot" href="<%= `/profiles/${counter+1}` %>"/>></a>
</div>
<h3 class="center"><%= user.firstName %>, <%= user.age %></h3>
<a href="<%='/composemessage/' + user.id %>"><button id="form-font" class='btn black center'>Message</button></a>
</div>



</div>

  </body>

</html>
