
<% include ../partials/head.ejs %> <!--- using head.ejs page from partials -->
<title> Edit <%=user.firstName %> </title>
</head>
  <body>
    <% include ../partials/header.ejs %> <!--- using header.ejs page from partials -->
    <main class="container">

      <form class="row form" action="<%= '/user/edit/' + user.id + '?_method=PUT' %>" method="POST">
        <div class="col s10 offset-s1">
          <label id="form-font" class="black-text">username:</label><input type="text" name="username" value="<%= user.username %>" placeholder="<%= user.username %>"/>
          <label id="form-font" class="black-text">first:</label><input type="text" name="firstName" value="<%= user.firstName %>" placeholder="<%= user.firstName %>"/>
          <label id="form-font" class="black-text">last:</label><input type="text" name="lastName" value="<%= user.lastName %>" placeholder="<%= user.lastName %>"/>
          <label id="form-font" class="black-text">email:</label><input type="text" name="email" value="<%= user.email %>" placeholder="<%= user.email %>"/>
          <label id="form-font" class="black-text">dob:</label><input type="date" name="dob" value="<%= user.dob %>" placeholder="<%= user.dob %>" required/>
          <label id="form-font" class="black-text">zipcode:</label><input type="number" name="zipcode" value="<%= user.zipcode %>" placeholder="<%= user.zipcode %>"/>
        </div>
        <div class="col s10 offset-s1">
          <p id="form-font" class="col s4">
            <input name="gender" type="radio" value="m" id="m" />
            <label for="m">male</label>
          </p>
          <p id="form-font" class="col s4">
            <input name="gender" type="radio" value="f" id="f" />
            <label for="f">female</label>
          </p>
          <p id="form-font" class="col s4">
            <input name="gender" type="radio" value="nb" id="nb" />
            <label for="nb">non-binary</label>
          </p>
        <input type="text" name="videoURL" value="<%= user.videoURL %>" placeholder="<%= user.videoURL %>"/>
        <button id="form-font" class="btn black" type='submit'>Save</button>
      </div>
      </form>
      <div class="row">
      <a class="left col s5 offset-s1" href='<%= `/user/edit/preferences/${user.id}` %>'><button id="form-font" class="btn black">preferences</button></a>
      <div class="row">
      <form class="alert col s5 offest-s1" action='<%= `/user/edit/${user.id}?_method=DELETE` %>' method='POST'>
        <button id="form-font" class="btn black right offset-s2" type="submit">delete</button>
      </form>
      </div>
      </div>
    </main>
    <% include ../partials/footer.ejs %> <!--- using footer.ejs page from partials -->
  <script
  src="http://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="../javascripts/editUser.js"></script>
  </body>
</html>
