

<% include ../partials/head.ejs %> <!--- using head.ejs page from partials -->

<title> Home </title>

</head>

  <body>
    <% include ../partials/header.ejs %> <!--- using header.ejs page from partials -->
    <main>
    <div id='video-container'>
      <iframe width='560' height='315' class='center-align' src="<%= user.videoURL %>?rel=0&autoplay=1" frameborder="0" allowfullscreen ></iframe>
      <h4 class='user-display-text'><%= user.firstName %>, <%= user.age %></h4>
    </div>




<!--     <div class='container'>
    <div id='account-info' class='col  offset-s5'>
        <span class='flow-text'><h5>account details</h5>
        <p><%= user.username %></p>
        <p><%= user.firstName %></p>
        <p><%= user.lastName %></p>
        <p><%= user.email %></p>
        <p><%= user.dob %></p></span>
    </div>
    </div> -->




 <!--      <button id="snap">Snap Photo</button>
      <button id="snap1" onClick="startVideo()">Start Video</button>
       <button id="snap2" onClick="stopVideo()">Stop Video</button>
      <canvas id="canvas" width="640" height="480"></canvas>
            <video id="video" width="640" height="480" autoplay></video>
-->

    </main>
     <script src="../javascripts/editUser.js"></script>
    <% include ../partials/footer.ejs %> <!--- using footer.ejs page from partials -->
  </body>
</html>
